@model BoltAdmin_MVC.Models.AdminLoginBE

@{
    ViewBag.Title = "login";
    Layout = null;
}
<!DOCTYPE html>

@using (Html.BeginForm())
{
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Bolt.Energy</title>
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        <div id="wrapper">

            <!-- uiView: -->
            <div ui-view="" class="ng-scope">
                <main id="main" role="main" class="ng-scope">
                    <div class="container">
                        <div class="row">
                            <div class="three columns">
                                <div class="logo"> <a href="#"> <img src="images/logo.png" alt="bolt"> </a> </div>
                                <div class="clearfix"></div>
                                <h2>Admin Login</h2>
                                <p>
                                    <div ng-model="email" style="">
                                        <label for="inpUsername">Email: </label>
                                        @Html.TextBoxFor(a => a.email, new { @placeholder = "User Email", @class = "ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse" })
                                        @Html.ValidationMessageFor(a => a.email)
                                    </div>

                                </p>
                                <p>
                                    <div ng-model="password" style="">
                                        <label for="inpPassword">Password: </label>
                                        @Html.TextBoxFor(a => a.password, new { @placeholder = "User Password", @class = "ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse", @type = "password" })
                                        @Html.ValidationMessageFor(a => a.password)
                                    </div>
                                    @Html.HiddenFor(a=>a.firstName)
                                    @Html.HiddenFor(a=>a.lastName)
                                </p>
                                <p><a onclick="$(this).closest('form').submit(); return true;" href="#">Login</a></p>
                                <p>@Html.ValidationSummary(true)</p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
}
